html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.button-wrapper {
  text-align: center;
  margin: 45px;
  padding: 25px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black; }

.button-wrapper a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em; }

.c-paleblue {
  background-color: #cdeaf7; }

.c-palepink {
  background-color: #f5c8b5; }

.c-white {
  background-color: white; }

.c-darkblue {
  background-color: #24127a; }

div.issue_details {
  display: none; }

.toggle-issue:first-of-type {
  border-top: none; }

h3.toggle-issue {
  border-top: 3px solid #f5c8b5; }

.subheader.toggle-issue {
  margin-bottom: 15px; }

.toggle-issue {
  padding: 42px 0 24px 0;
  cursor: pointer; }

.toggle-issue::after {
  content: '';
  display: inline-block;
  width: -5px;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent #f5c8b5 transparent;
  margin-left: 4px; }

.toggle-issue.issue_closed::after {
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform .5s ease; }

.toggle-issue.issue_open::after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  transition: transform .5s ease; }

div.issue_details.toggled_open {
  display: inherit; }

.subheader {
  font-style: italic;
  font-size: 1.4em; }

#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #cdeaf7;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */ }

#navbar div {
  float: left;
  display: block;
  padding: 20px;
  text-align: center;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto; }

#navbar div a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em; }

@media (min-width: 1300px) {
  .section.inner.with_subsections {
    display: flex;
    flex-direction: row; } }
.section.inner.full_width {
  padding: 0 30px;
  max-width: 550px;
  margin: auto; }

.section.outer {
  padding: 100px 0;
  width: 100%; }

@media (min-width: 500px) {
  .section.outer#landing-section {
    padding: 45px 0 80px 0;
    z-index: -10;
    position: fixed;
    top: 61px; }

  div#lower-sections {
    margin-top: 800px; }

  #scroll-to-learn-more {
    display: inherit; }

  .subsection {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 0 80px; } }
@media (max-width: 500px) {
  .section.outer#landing-section {
    padding: 140px 0; }

  #scroll-to-learn-more {
    display: none; }

  .subsection {
    padding: 0 30px; } }
.section.outer.c-white h2 {
  border-bottom: 6px solid #cdeaf7; }

.section.outer.c-palepink h2 {
  border-bottom: 8px solid white; }

#title {
  margin-bottom: 40px; }

#main-column {
  width: 100%; }

h2#pink-underlined {
  padding: 12px;
  border-bottom: 8px solid #f5c8b5; }

#logo {
  margin: 10px auto;
  text-align: center;
  height: 90px;
  display: inline-block;
  text-align: center; }

#header-logo-wrapper {
  text-align: center;
  margin-bottom: 60px; }

@media (max-width: 500px) {
  #header-logo-wrapper {
    display: none; } }
.platform {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.platform div {
  margin: 0 30px; }

.footer {
  text-align: center; }

#street-photo {
  background-image: url("../images/jesse-street.jpg");
  margin: -80px 0;
  background-repeat: no-repeat;
  background-size: cover; }

#jesse-with-student {
  background-image: url("../images/jesse-with-student.JPG");
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 1300px) {
  #jesse-with-student {
    margin: -100px 0; } }
#district-map-img {
  max-width: 100%; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

h1 {
  font-size: 40px;
  margin-bottom: 16px;
  border-bottom: 6px solid #cdeaf7; }

h2 {
  font-size: 1.85em; }

h3 {
  font-size: 1.5em;
  font-weight: bold; }

p {
  line-height: 1.8em;
  font-size: 1.5em; }

.subhead {
  line-height: 1.65em;
  font-size: 1.55em; }

.section {
  font-family: "Montserrat", sans-serif; }

.smallprint {
  font-size: 1.1em; }

.donate-smallprint {
  margin-top: 12px; }

.issue_details p {
  line-height: 1.6em;
  font-size: 1.3em; }

.issue_details strong {
  line-height: 1.6em;
  font-size: 1.3em;
  font-style: italic; }

#platform {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8em;
  font-size: 1.6em;
  font-weight: bold; }

a {
  color: #24127a;
  text-decoration: underline; }

a:hover {
  font-weight: bold; }

/*# sourceMappingURL=output.css.map */
