#title {
  margin-bottom: 40px;
}

.platform {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform div {
  margin: 0 30px;
}

@media (min-width: $breakpoint-m) {
  #title {
    margin-top: 80px;
  }
}
