#title {
  margin-bottom: 40px;
}

.platform {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform div {
  margin: 0 30px;
}

#street-photo {
  background-image: url('../images/jesse-street.jpg');
  margin: -80px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#jesse-with-student {
  background-image: url('../images/jesse-with-student.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (min-width: $breakpoint-l) {
  #jesse-with-student {
    margin: -100px 0;
  }
}
