img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $breakpoint-m) {
  img#jesse-with-students {
    margin: auto;
    display: block;
    transform: scaleX(-1);
  }

  img#jesse-street-photo {
    margin: auto;
    display: block;
  }

  #jesse-with-students-background {
    background-image: none;
  }

  #street-photo {
    background-image: none;
  }
}

@media (min-width: $breakpoint-m) {
  #jesse-with-students-background {
    background-image: url('../images/jesse-with-student.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  #street-photo {
    background-image: url('../images/jesse-street.jpg');
    margin: -80px 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  img.mobile-only {
    display: none;
  }
}
