div.issue_details {
  display: none;
  margin-bottom: 80px;
}

.toggle-issue:first-of-type {
  border-top: none;
}

h3.toggle-issue {
  border-top: 3px solid rgb(245, 200, 181);
}

.subheader.toggle-issue {
  margin-bottom: 15px;
}

.toggle-issue {
  padding: 42px 0 24px 0;
  cursor: pointer;
}

.toggle-issue::after {
  content: '';
  display: inline-block;
  width: -5px;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent $palepink transparent;
  margin-left: 4px
}

.toggle-issue.issue_closed::after {
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform .5s ease;
}

.toggle-issue.issue_open::after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  transition: transform .5s ease;
}

div.issue_details.toggled_open {
  display: inherit;
}

.subheader {
  font-style: italic;
  font-size: 1.4em;
}
