#issues-title {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  margin: 10px 10px 10px 0;
  color: black;
  display: inline-block;
}

a.issues-navlink {
  font-size: 1.4em;
  background-color: $palepink;
  padding: 10px;
  margin: 10px;
  color: black;
  display: inline-block;
  transition: background-color 0.25s ease;
}

a.issues-navlink:hover {
  font-style: italic;
  font-weight: normal;
  background-color: $paleblue;
}

div.issue_details {
  display: none;
}

div.issue_details.toggled_open {
  display: inherit;
}

@media (min-width: $breakpoint-m) {
  div.issue_details div.issue_details {
    margin: 0 70px;
  }
  .subheader.toggle-issue {
    margin: 0 70px;
  }
}

.toggle-issue:first-of-type {
  border-top: none;
}

h3.toggle-issue {
  margin: 25px 0;
  border-bottom: 5px solid $palepink;
}

.subheader.toggle-issue {
  border-bottom: 3px solid $paleblue;
}

.subheader {
  font-style: italic;
  font-size: 1.4em;
  text-align: center;
}

h3.toggle-issue::after {
  content: '';
  display: inline-block;
  width: -5px;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent $palepink transparent;
  margin-left: 4px
}

.subheader.toggle-issue::after {
  content: '';
  display: inline-block;
  width: -5px;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 8px;
  border-color: transparent transparent $paleblue transparent;
  margin-left: 4px
}

.toggle-issue.issue_closed::after {
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: transform .5s ease;
}

.toggle-issue.issue_open::after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  transition: transform .5s ease;
}
.subheader.toggle-issue {
  margin-bottom: 15px;
}

.toggle-issue {
  padding: 42px 0 24px 0;
  cursor: pointer;
}
