#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $paleblue;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}

#navbar div {
  float: left;
  flex: 1;
  padding: 20px;
  text-align: center;
}

#navbar div a {
  color: black;
  text-decoration: none;
  font-family: $sans-serif;
  font-size: 1.1em;
}
