#navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $paleblue;
}

#navbar div {
  color: black;
  text-decoration: none;
  font-family: $sans-serif;
  font-size: 1.1em;
}

#navbar .slogan-item {
  font-weight: 300;
}

.slogan-item img {
  float: left;
  margin-right: 18px;
}

#slogan {
  float: left;
}

@media (min-width: $breakpoint-m) {
  .slogan-item img {
    position: relative;
    bottom: 5px;
  }

  #responsive-slogan-break {
    display: none;
  }
}

#navbar .navbar-hamburger {
  cursor: pointer;
}

#navbar .navbar-hamburger span {
  height: 2px;
  width: 30px;
  background-color: black;
  margin: 6px;
  display: block;
}

@media screen and (min-width: $breakpoint-m) {

  #navbar {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  }

  #navbar .navbar-item {
    float: left;
    display: block;
    padding: 20px;
    text-align: center;
  }

  #navbar .link-item {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
  }

  #navbar .navbar-hamburger {
    display: none;
  }

}

@media screen and (max-width: $breakpoint-m) {

  #navbar.mobile-closed .link-item {
    display: none;
  }

  #navbar .slogan-item {
    float: left;
    display: block;
    padding: 20px 0 20px 20px;
    font-size: 1em;

    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
  }


  #navbar .navbar-hamburger {
    float: right;
    display: block;
    padding: 20px;
  }

  #navbar.mobile-open .link-item {
    clear: both;
    padding: 0 0 10px 0;
    text-align: center;
    position: relative;
    bottom: 20px;
  }

}
