@media (min-width: $breakpoint-l) {
  .section.inner.with_subsections {
    display: flex;
    flex-direction: row;
  }
}

.section.inner.full_width {
  padding: 0 30px;
  max-width: 550px;
  margin:auto;
}

.section.inner.full_width.wide {
  padding: 0 30px;
  max-width: 90%;
  margin:auto;
}

.section.outer {
  padding: 100px 0;
  width: 100%;
}

@media (min-width: $breakpoint-s) {
  .section.outer#landing-section {
    padding: 45px 0 80px 0;
    z-index: -10;
    position: fixed;
    top: 61px;
  }

  div#lower-sections {
    margin-top: 800px;
  }

  #scroll-to-learn-more {
    display: inherit;
  }

  .subsection {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 0 80px;
  }
}

@media (max-width: $breakpoint-s) {
  .section.outer#landing-section {
    padding: 140px 0;
  }

  #scroll-to-learn-more {
    display: none;
  }

  .subsection {
    padding: 0 30px;
  }
}

.section.outer.c-white h2 {
  border-bottom: 6px solid $paleblue;
}

.section.outer.c-palepink h2 {
  border-bottom: 8px solid white;
}

.subsection.no-padding, .section.no-padding {
  padding: 0;
}

.subsection.extra-padding {
  padding: 40px 80px;
}
