#title {
  margin-bottom: 40px;
}

#main-column {
  width: 100%;
}

h2#pink-underlined {
  padding: 12px;
  border-bottom: 8px solid $palepink;
}

#logo {
  margin: 10px auto;
  text-align: center;
  height: 75px;
  display: inline-block;
  text-align: center;
}

#header-logo-wrapper {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: $breakpoint-s) {
  #header-logo-wrapper {
    display: none;
  }
}

.platform {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform div {
  margin: 0 30px;
}

.footer {
  text-align: center;
}

#street-photo {
  background-image: url('../images/jesse-street.jpg');
  margin: -80px 0;
}

#jesse-with-student {
  background-image: url('../images/jesse-with-student.JPG');
  margin: -100px 0;
}

@media (max-width: $breakpoint-s) {
  #district-map-img {
    display: none;
  }
}
