// Colors

$paleblue: rgb(205, 234, 247);
$palepink: rgb(245, 200, 181);
$white: white;
$darkblue: rgb(36, 18, 122);

// Breakpoints

$breakpoint-xs: 350px;
$breakpoint-s: 500px;
$breakpoint-m: 1100px;
$breakpoint-l: 1300px;
$breakpoint-xl: 1850px;

// Fonts

$serif: 'Radley', sans-serif;
$sans-serif: 'Montserrat', sans-serif;

