// Colors

$paleblue: rgb(205, 234, 247);
$palepink: rgb(245, 200, 181);
$white: white;
$darkblue: rgb(36, 18, 122);

// Breakpoints

$mobile-breakpoint: 500px;

// Fonts

$serif: 'Radley', sans-serif;
$sans-serif: 'Montserrat', sans-serif;

