* {
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

#main-column {
  max-width: 450px;
  margin: 40px auto;
  padding: 20px;
}

h2 {
  margin: 0;
}

section {
  margin-bottom: 60px;
}

p {
  line-height: 1.8em;
  font-size: 1.1em;
}

.donate-btn {
  background-color: blue;
  width: 180px;
  text-align: center;
  padding: 20px;
}

.donate-a {
  text-decoration: none;
  color: white;
  line-height: 1.8em;
  font-size: 1.1em;
}

img {
  max-width: 450px;
}
