* {}

html, body {
  margin: 0;
  padding: 0;
}

#main-column {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 1000px) {
  #main-column.with-sidebar {
    position: relative;
    left: 120px;
  }
}

img {
  max-width: 450px;
}

img#portrait {
  border: 4px solid black;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

h2 {
  margin: 0;
}

section {
  margin-bottom: 60px;
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.8em;
  font-size: 1.1em;
}

.c-paleblue {
  background-color: rgb(205, 234, 247);
}

.c-palepink {
  background-color: rgb(245, 200, 181);
}

.donate-btn {
  width: 180px;
  text-align: center;
  padding: 20px;
}

.donate-a {
  text-decoration: none;
  color: white;
  line-height: 1.8em;
  font-size: 1.1em;
}

.venmo {
  background-color: #3d95ce;
}

.act-blue {
  background-color: #009cde;
}

img {
  max-width: 450px;
}

@media (min-width: 1000px) {
  #sidebar {
    position: fixed;
    top: 0;
    height: 1000px;
    padding-top: 20px;
    border-right: 4px solid black;
    width: 220px;
  }

  #sidebar div {
    margin: 40px 30px 40px 20px;
  }

  #sidebar div a {
    color: black;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    font-family: 'Montserrat';
  }

  #sidebar div a:hover {
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}

#logo {
  margin: 20px auto;
  text-align: center;
  height: 75px;
  display: inline-block;
  text-align: center;
}

#header-logo-wrapper {
  text-align: center;
  position: relative;
  right: 10px;
}
