* {
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

#main-column {
  max-width: 450px;
  margin: 40px auto;
  padding: 20px;
}

img {
  max-width: 450px;
}

h2 {
  margin: 0;
}

section {
  margin-bottom: 60px;
}

p {
  line-height: 1.8em;
  font-size: 1.1em;
}

.c-paleblue {
  background-color: rgb(205, 234, 247);
}

.c-palepink {
  background-color: rgb(245, 200, 181);
}

.donate-btn {
  width: 180px;
  text-align: center;
  padding: 20px;
}

.donate-a {
  text-decoration: none;
  color: white;
  line-height: 1.8em;
  font-size: 1.1em;
}

.venmo {
  background-color: #3d95ce;
}

.act-blue {
  background-color: #009cde;
}

img {
  max-width: 450px;
}

@media (min-width: 1000px) {
  #sidebar {
    position: fixed;
    top: 0;
    height: 1000px;
    padding-top: 20px;
    border-right: 4px solid black;
  }

  #sidebar div {
    margin: 40px 30px;
  }

  #sidebar div a {
    color: black;
    text-decoration: none;
    font-style: italic;
  }

  #sidebar div a:hover {
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}

#logo {
  position: relative;
  right: 35px;
  margin-bottom: 35px;
}
