img {
  max-width: 450px;
}

img.portrait {
  border: 1px solid white;
  border-radius: 240px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.portrait-wrapper {
  width: 300px;
  padding-bottom: 70px;
  margin: auto;
}

div.centered-image {
  text-align: center;
}

div.image-with-margin {
  margin: 40px 0;
}
