.section.outer {
  padding: 80px 0;
  width: 100%;
}

.section.outer#landing-section {
  z-index: -10; position: fixed; top: 61px;
}

div#lower-sections {
  margin-top: 800px;
}

.section.inner.full_width {
  max-width: 550px;
  margin:auto;
}

@media (min-width: 1000px) {
  .section.inner.with_subsections {
    display: flex;
    flex-direction: row;
  }
}

h1 {
  border-bottom: 6px solid rgb(205, 234, 247);
}

.section.outer h2 {
  border-bottom: 6px solid rgb(205, 234, 247);
}

.section.outer.c-palepink h2 {
  border-bottom: 8px solid white;
}

.subsection {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0 80px;
}
