#title {
  margin-bottom: 40px;
}

img {
  max-width: 450px;
}

#main-column {
  width: 100%;
}

img#portrait {
  border: 4px solid black;
  border-radius: 240px;
  width: 240px;
  height: 240px;
  text-align: center;
}

#portrait-wrapper {
  width: 240px;
  padding: 70px 0;
  margin: auto;
}

img {
  max-width: 450px;
}

#sidebar .fixed-content {
  position: fixed;
  top: 0;
  left: 0px;
  width: 240px;
  height: 100vh;
  background-color: #efefef;
  padding-top: 40px;
}

@media (min-width: 1000px) {
  #sidebar {
    top: 0;
    height: 3500px;
    flex: 0 0 240px;
    background-color: #efefef;
    position: relative;
  }

  #sidebar .fixed-content div {
    margin: 40px 30px;
  }

  #sidebar .fixed-content div a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #sidebar .fixed-content div a:hover {
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}

#logo {
  margin: 10px auto;
  text-align: center;
  height: 75px;
  display: inline-block;
  text-align: center;
}

#header-logo-wrapper {
  text-align: center;
}

.button-wrapper {
  text-align: center;
  margin: 70px 0;
  cursor: pointer;
}

.button {
  padding: 16px;
  border-radius: 12px;
  border: 4px solid black;
}

a.button {
  text-decoration: none;
}

a.button:hover {
  font-weight: bold;
}

.subsection.platform {
  text-align: center;
}
