h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.85em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  line-height: 1.8em;
  font-size: 1.5em;
}

.subhead {
  line-height: 1.7em;
  font-size: 1.6em;
}

.section {
  font-family: 'Radley', sans-serif;
}

.smallprint {
  font-size: 1.1em;
}

.donate-smallprint {
  margin-top: 12px;
}

.issue_details p {
  line-height: 1.6em;
  font-size: 1.3em;
}

.issue_details strong {
  line-height: 1.6em;
  font-size: 1.3em;
  font-style: italic;
}

#platform {
  font-family: 'Montserrat';
  line-height: 1.8em;
  font-size: 1.6em;
  font-weight: bold;
}

a {
  color: rgb(36, 18, 122);
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}
