h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#sidebar div a {
  font-family: 'Montserrat';
}

a.button {
  font-family: 'Montserrat';
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

p {
  line-height: 1.8em;
  font-size: 1.5em;
}

.subhead {
  line-height: 1.8em;
  font-size: 1.6em;
}

.button {
  font-size: 1.4em;
}

.section {
  font-family: 'Radley', sans-serif;
}

p.smallprint {
  font-size: 1.1em;
}


#platform {
  font-family: 'Montserrat';
  line-height: 1.8em;
  font-size: 1.6em;
  font-weight: bold;
}
